:root {
    --fg: #111;
    --bg: #fff;
    --fg2: #bbb;
    --borderDefault: 1px solid var(--fg);
}    

body {
    background-color: var(--bg);
    color: var(--fg);
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    margin: 0;
    padding: 0;
    /* z-index: -1; */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    font-family: 'Montserrat';
}        

textarea:focus, input:focus{
    outline: none;
}        

#banner {
    font-size: 5vw;
    font-weight: bolder;
    text-transform: uppercase;
    display: none;
}    


#game {
    justify-content: center;
    align-items: center;
}    
#input-qna {
    width: 100vw;
    padding: 0.75em 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
    
    outline: none;
    border: none;

    background-color: var(--bg); 
    color: var(--fg);
    
    text-align: center;
    font-family: 'Montserrat';
    font-size: 3rem;
    text-transform: uppercase;

    display: none;
}        

#history-qna {
    display: none;
}

#history-qna div {
    margin: 1vw 0;
    text-align: center;
    font-size: 1.5rem;
    color: var(--fg2);
    
}
#game-spam {
    display: none;
    justify-content: center;
    align-items: center;
}        
#game-spam span {
    position: absolute;
    user-select: none;
    cursor: grab;
}        

#bloated {
    visibility: hidden;
    cursor: grabbing;
}    
