:root {
    --bg: #111;
    --fg: #fff;
    --fg2: #bbb;
    --borderDefault: 1px solid var(--fg);
}    

body {
    background-color: var(--bg);
    color: var(--fg);
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    margin: 0;
    padding: 0;
    /* z-index: -1; */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    font-family: 'Montserrat';
}        

textarea:focus, input:focus{
    outline: none;
}        

#banner {
    font-size: 3rem;
    text-transform: uppercase;
    display: none;
    user-select: none;
}    

#game {
    justify-content: center;
    align-items: center;
}    
#input-qna {
    padding: 1rem 0;
    box-sizing: border-box;
    
    outline: none;
    border: none;

    background-color: var(--bg); 
    color: var(--fg);
    
    text-align: center;
    font-family: 'Montserrat';
    font-size: 3rem;
    text-transform: uppercase;

    display: none;
}        

#history-qna {
    display: none;
}

#history-qna div {
    margin: 1vw 0;
    text-align: center;
    font-size: 1.5rem;
    color: var(--fg2);
    
}

#game-spam {
    display: none;
    justify-content: center;
    align-items: center;
}        
#game-spam span {
    font-size: 15em;
    position: absolute;
    user-select: none;
    cursor: grab;
}        

.minispam {
    transform-origin: bottom right;
    transform: scale(0.2);
    right: 1.5vw;
    bottom: 1.5vw; 
}